<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page lerning Partials in EJS</title>
</head>
<body>
    <%- include("partials/header.ejs") %>

    <div class="container maincontainer">
        <h1>Welcome to our website</h1>
        <p>Aspernatur ea quia deserunt numquam, delectus doloremque nam totam praesentium in eaque voluptas beatae dicta earum enim sint dolorem harum eum voluptatem veniam consectetur nemo laborum omnis iure obcaecati. Quibusdam repellendus neque, perferendis aliquid ullam libero quam beatae? Repellat soluta ea enim quae quia temporibus amet nesciunt quo architecto harum, ipsam necessitatibus, consectetur provident deleniti similique! Ea dolorem dolorum provident accusantium a totam debitis suscipit nesciunt ut ipsum, accusamus fugit consequuntur vero natus deleniti atque voluptatum nostrum assumenda architecto? Animi aliquid, explicabo ipsam esse natus accusamus! Quisquam neque temporibus amet iusto nam? Reiciendis dolor quam minus ea culpa repudiandae, odit in temporibus magnam architecto, iusto animi earum corporis rerum. Fuga totam illo dolor veniam porro nam quisquam harum quam dolores iusto saepe voluptas id consectetur reiciendis quo corporis distinctio culpa sapiente temporibus, modi consequuntur commodi voluptatum pariatur? Hic itaque consequuntur alias beatae optio magnam molestiae ullam quaerat repudiandae, labore nostrum facere dolore exercitationem eveniet consequatur laboriosam tenetur eligendi voluptas porro illum excepturi possimus et! Itaque error doloremque, ducimus voluptates optio vero cum eaque assumenda aut doloribus! Eligendi illo, iure sapiente recusandae ducimus odio delectus porro praesentium deserunt illum magni placeat, omnis sunt quisquam optio incidunt similique, mollitia nemo. Sit asperiores rem alias beatae nesciunt earum error dolorum consequatur non!
        </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam accusamus sed laborum sapiente natus iste harum, ipsam rem in doloremque ipsum ducimus perferendis voluptates praesentium quisquam! Blanditiis odio, aliquam iste dignissimos quam ullam mollitia quia illum aspernatur porro perspiciatis sed eius officia officiis laborum earum architecto alias, eaque perferendis. Ipsa, voluptatem esse doloribus maiores architecto, veniam ullam repellat a iure consectetur ipsam asperiores, odio quod? Voluptatem distinctio sed numquam accusamus neque esse, perferendis animi facere pariatur nisi tempora repellendus? Eum, iusto odio ducimus consequuntur eveniet fugiat. Nulla minus dignissimos expedita voluptas, aspernatur sunt! Voluptatum hic quaerat nisi dolore velit voluptate ullam, molestiae fugiat iste corrupti modi. Natus impedit rerum, unde, commodi obcaecati harum voluptas rem culpa ipsum illum corporis porro aspernatur necessitatibus earum veniam. Ipsam itaque ipsum vel! Suscipit corporis ipsum nam asperiores consequuntur porro aut reprehenderit quam eum distinctio fuga cupiditate mollitia dolore molestias laborum perferendis, optio saepe unde voluptatem nemo. Porro repellat et autem vero quibusdam harum repudiandae nulla asperiores, sunt excepturi ipsam, odio placeat minima molestias error quam iste magni ipsum perferendis magnam laborum quidem facilis labore? Nostrum, ratione. Officia, repudiandae aspernatur explicabo beatae, aliquam, ut velit veritatis impedit distinctio animi maxime doloribus deserunt voluptates molestias id.</p>
    </div>
    
    <%- include("partials/footer.ejs") %>
</body>
</html>

