<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page lerning Partials in EJS</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
    <h1>Welcome to our website...</h1>
    <%- include("partials/footer.ejs") %>
</body>
</html>