*{
    margin: 0;
    padding: 0;
}

html,
body {
   margin:0;
   padding:0;
   height:100%;
}

.nav-link{
    margin-right: 20px;
}

h1{
    text-align: center;
    padding: 10px;
    color: #fe1deb;
    border-bottom: #010101 solid 2px;
    margin: 20px;
}

.myfooter{
    padding: 10px;
}

.maincontainer{
    min-height: 80%;
}

.myh2{
    padding: 20px 0;
}

.uname{
    color:#1ac60e
}